@* @rendermode InteractiveWebAssembly *@
@rendermode InteractiveAuto

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-center fs-6 pt-0 pb-0" style="line-height:1;" href="">@((MarkupString)_navBarTitle)</a>
    <button class="navbar-toggler"
            type="button"
            @onclick="ToggleNavMenu"
            aria-controls="navbarSupportedContent"
            aria-expanded="@(!_isNavCollapsed)"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse @(_isNavCollapsed ? "" : "show")" id="navbarCollapse" @onclick="ToggleNavMenu">
      <ul class="navbar-nav mb-2 mb-md-0 align-items-center">
        @if (_menuItems != null && _menuItems.Count() > 0)
        {
          @foreach (var item in _menuItems)
          {
            if (item.ParentId is null)
            {
              <MenuFragmentRender MenuFragment=@item />
            }
          }
        }
      </ul>
    </div>
  </div>
</nav>

